<div id="TOC">
<ul>
<li><a href="https://Eloitor.github.io/topology-filters-notes/definitions#filter-definition-and-basics-examples"><span class="toc-section-number">1</span> Filter definition and basics examples</a>
<ul>
<li><a href="https://Eloitor.github.io/topology-filters-notes/definitions#filter-definition"><span class="toc-section-number">1.1</span> Filter definition</a></li>
<li><a href="https://Eloitor.github.io/topology-filters-notes/definitions#filter-order"><span class="toc-section-number">1.2</span> Filter Order</a></li>
<li><a href="https://Eloitor.github.io/topology-filters-notes/definitions#exercices"><span class="toc-section-number">1.3</span> Exercices</a></li>
</ul></li>
<li><a href="https://Eloitor.github.io/topology-filters-notes/structures#order-and-algebraic-structure"><span class="toc-section-number">2</span> Order and algebraic structure</a></li>
</ul>
</div>
